body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    background-color: cornflowerblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#drumcontainer{
    position: relative;
    height: 50rem;
    width: 70rem;
    background-color: white;
}

#kick{
    position: absolute;
    bottom: 7rem;
    left: 26rem;
    z-index: 1;
    
}


#crash{
    position: absolute;
    top: 3rem;
    z-index: 1;
    left: 10rem;
}

#hihat{
    position: absolute;
    top: 3rem;
    right: 10rem;
}

#snare{
    position: absolute;
    bottom: 2rem;
    left: 40rem;

}


#tom1{
    position: absolute;
    bottom: 20rem;
    left: 33rem;
    z-index: 0;
}


#tom2{
    position: absolute;
    bottom: 20.5rem;
    left: 22.6rem;
    z-index: 0;

}




.kick-btn{

 
    transform: translateY(4px);
    filter: drop-shadow(0 0 0.75rem crimson);
        
      
}